body{
	margin: 0;
	font-family: Palatino, 'Palatino Linotype', serif;
	text-align: justify;
}
.header{
	text-align: center;
	font-size: 80px;
	height: 90px;
	padding: 70px;
	background-color: #0045FF;
}	
.header img{
	float: left;
	width: 250px;
	height: 120px;
	margin: 0 10px 0 0;
}
.header h1{
	position: relative;
	font-size: 45px;
	text-align: center;
	color: black;
}
img{
	height: 600px;
}
h2{
	font-size: 35px;
	text-align: center;
	color: #0091FF;
}
ul{
	list-style-type: none;
	margin: 10px;
	font-size: 30px;
}
nav{
	text-align: left;
	float: left;
	line-height: 70px;
	width: 18%;
	height: 150em;
	background-color: #FFFD00;
}
footer{
	clear: both;
	text-align: center;
	height: 3em;
}
p{
	margin: 40px;
	font-size: 25px;
}